.dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffff;
  min-height: 75vh;
  margin: 0;
  padding: 0;
  width: 100%;
}

.dashboard-title {
  margin-bottom: 2rem;
  color: #333;
  font-size: 1.8rem;
  font-weight: 600;
}

.map-container {
  display: flex;
  gap: 1rem; /* space between map and side panel */
  justify-content: center;
  align-items: flex-start;
  width: 95%;
  min-height: 75vh; 
  z-index: 1;
}

.map-wrapper {
  flex: 1;  
  max-width: 1300px;  /*This controls the width of the map on the page*/
  height: 75vh;  /*This controls the height of the map on the page*/
  border: 2px solid #ddd;
  border-radius: 16px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.1);
  overflow: hidden;
}

.dashboard-legend {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 0.75rem 1.5rem;
  margin: 1rem auto;
  width: fit-content;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 0.95rem;
}

.legend-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.legend-color {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 1px solid #aaa;
}

.legend-color.red {
  background-color: #e74c3c; /* red */
}

.legend-color.yellow {
  background-color: #f1c40f; /* yellow */
}

.legend-color.green {
  background-color: #2ecc71; /* green */
}


/* Responsive for mobile screens */
@media (max-width: 768px) {
  .dashboard-title {
    font-size: 1.4rem;
  }
  .dashboard-legend {
    flex-direction: column;
    gap: 0.75rem;
    text-align: center;
  }

  .map-container {
    flex-direction: column; /* stack map then panel */
    align-items: center;
    padding: 0.5rem;
  }

  .map-wrapper {
    width: 100%;
    height: 30vh; /* smaller height on mobile */
    max-width: none;
    margin: 0 auto;
    border-radius: 5px;
  }

  .side-panel {
    width: 100% !important; /* make sure panel is full width */
    margin-top: 1rem;
  }

}