.PageSpace {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}

table {
    border: 2px solid red;
    border-radius: 10px;
    width: 100%;
    height: 200px;
    margin-top: 10px;
    padding-bottom: 8px;
}

th {
    border-bottom: 1px solid black;
}

td {
    text-align: center;
    border-right: 1px;
    border-color: solid black;
}

.tripData {
    height: 50px;
    border-radius: 10px;
    border-color: solid black;
}

.tripData:hover {
    transform: translateY(-2px);
}

.tripData:active {
    transform: translateX(-10px);
}